.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.title {
    grid-column: 1 / 3;  
}

.item {
    float: left;
}

.label {
    font-weight: bold;
}

.checklist {
    display: block;
}

.section {
    float: left;
    width: 25vw;
    height: 40vw;
    overflow-y: scroll;
}

.error {
    color: red;
}

#loadout-list {
    overflow-y: scroll;
    height: 50%;
}

#knacks {
    max-width: 50%;
    float: left;
    padding: 1em;
    overflow-y: hidden;
}

#knacks li {
   list-style-type: none; 
}

.big {
    font-size: 24px;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

label {
    display: inline;
}

input[type=checkbox] {
    display: inline;
}
