.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.title {
    grid-column: 1 / 3;  
}

.item {
    float: left;
}

.label {
    font-weight: bold;
}

.checklist {
    display: block;
}

#info {
    float: left;
    padding: 1em;
    width: 25vw;
    font-size: 24px;
    height: 25vw;
    overflow-y: scroll;
}

#knacks {
    max-width: 50%;
    float: left;
    padding: 1em;
    font-size: 24px;
}

footer {
    font-size: 24px;
    position: fixed;
    bottom: 0;
    right: 0;
}

label {
    display: inline;
}

input[type=checkbox] {
    display: inline;
}
